<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzg.mapper.UserMapper" >
    <!--开启二级缓存-->
<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
    <resultMap id="BaseResultMap" type="com.xzg.domain.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="BIGINT" />
        <result column="ip" property="ip" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_name, password,age,ip
    </sql>
    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
       FROM t_user
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
       FROM t_user
       WHERE id = #{id}
    </select>
    <insert id="insertUser" parameterType="com.xzg.domain.User" >
       INSERT INTO 
            t_user
            (user_Name,password,age,ip) 
        VALUES
            (#{userName}, #{password}, #{age})
    </insert>

    <update id="updateUser" parameterType="com.xzg.domain.User" >
       UPDATE 
            t_user 
       SET 
        <if test="userName != null">user_Name = #{userName},</if>
        <if test="passWord != null">passWord = #{password},</if>
        age = #{age}
       WHERE 
            id = #{id}
    </update>
<update id="updateIp" parameterType="com.xzg.domain.User" >
       UPDATE 
            t_user 
       SET 
        <if test="ip != null">ip = #{ip},</if>
        1 = 1 
       WHERE 
            id = #{id}
    </update>

    <delete id="deleteUser" parameterType="java.lang.Long" >
       DELETE FROM
             t_user 
       WHERE 
             id =#{id}
    </delete>
</mapper>