<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
 <link rel="stylesheet" th:href="@{/css/style.css}"></link>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link  rel="stylesheet" th:href="@{/css/default.css}" type="text/css" media="all" />
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script>
var lanren = {
        navFast:function(){
        	var scr_height = window.screen.availHeight;
        	var float_right= 300;
        	var o = document.getElementById("float_right");
            var defaultTop = (scr_height - float_right)/2 - 100; //默认顶部保持上下居中，再往上去100像素
                $(window).scroll(function(){
                        var offsetTop = defaultTop + $(window).scrollTop()+'px';
                        $('#float_right').animate({top:offsetTop},
                        {duration: 600,  //滑动速度
                        queue: false    //此动画将不进入动画队列
                });                                               
                });
        }
};
lanren.navFast();

</script>

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="page" class="container">
	<div id="header">
		<div id="logo">
		<img  th:src="@{/img/img01.jpg}"  alt=" " />
			<h1><a href="#">奔波霸</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="2" title="">好友列表查看</a></li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="4" title="">Careers</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
		<div id="banner">
		<img class="image-full" alt="" th:src="@{/img/img02.jpg}" />
		</div>
		<div id="welcome">
			<div class="title">
				<h2>一个新的开始</h2><br></br>
				<span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span>
			</div>
			<p>This is <strong>熊正刚</strong>, a free, fully standards-compliant CSS template designed.license, so you are pretty much free to do whatever you want with it (even use it commercially) </p>
			<ul class="actions">
				<li><a href="#" class="button">Etiam posuere</a></li>
			</ul>
		</div>
		<div id="featured">
			<div class="title">
				<h2>相关的文章链接</h2>
				<span class="byline">Integer sit amet aliquet pretium</span>
			</div>
			<ul class="style1">
				<li class="first">
					<p class="date"><a href="#">Jan<b>05</b></a></p>
					<h3>Amet sed volutpat mauris</h3>
					<p><a href="#">Consectetuertellus. Etiam neque. Vivamus consequat lorem at nisl.  Etiam non felis. Donec ut ante.</a></p>
				</li>
				<li>
					<p class="date"><a href="#">Jan<b>04</b></a></p>
					<h3>Sagittis diam dolor amet</h3>
					<p><a href="#">Etiam non felis. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.</a></p>
				</li>
				<li>
					<p class="date"><a href="#">Jan<b>03</b></a></p>
					<h3>Sagittis diam dolor amet</h3>
					<p><a href="#">Etiam non felis. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.</a></p>
				</li>
				<li>
					<p class="date"><a href="#">Jan<b>02</b></a></p>
					<h3>Sagittis diam dolor amet</h3>
					<p><a href="#">Etiam non felis. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.</a></p>
				</li>
				<li>
					<p class="date"><a href="#">Jan<b>01</b></a></p>
					<h3>Sagittis diam dolor amet</h3>
					<p><a href="#">Etiam non felis. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.</a></p>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="float-right" id="float_right">
    <a href="#" target="_blank">首页</a>
    <a href="#" target="_blank">好友列表</a>
    <a href="#" target="_blank">时间日期</a>
    <a href="#" target="_blank">焦点图</a>
    <a href="#" target="_blank">tab标签</a>
    <a href="#" target="_blank">jQuery特效</a>
    <a href="#" target="_blank">图片特效</a>
    <a href="#" target="_blank">在线客服</a>
</div>
</body>
</html>
